[id="home"] {
  --gap: 30px;
  --background: #f6f6f6 ;

  margin: auto;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: 20px 0;
        border-radius: 20px;
        gap: 15px;
    }

    li {
      width: 100%;
    }

    @media (min-width: 768px) {
      
      ul {
        padding: 40px 35px 25px;
        gap: var(--gap);
        background-color: var(--background);
      }

      li {
          width: calc((100% - var(--gap)) / 2);
      }
    }
    @media (min-width: 1200px) {

      li {
          width: calc((100% - 2 * var(--gap)) / 3);
      }
    }
}