.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        width: 100%;

        h2 {
            margin: 0;
            padding: 10px;
            border-radius: 8px;
            font-size: 15px;
            color: hsl(0, 100%, 100%);
            background-color: hsl(0, 100%, 69%);
        }

        p {
            margin: 0;
            padding: 10px;
        }
    }
}