header {
    border : 1px solid #000;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url(../../assets/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    color: #FFF;

    h1 {
        padding: 10px 15px;
        font-weight: 700;  
        font-size: 24px;
    }
    
    @media (min-width: 768px) {

        text-align: center;
        margin: 30px auto;
        height: 180px;

        h1 {
            padding-top: 30px;
            font-size: 44px;
            text-shadow:
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
            
            .break {
                display: none;
            }
        }
    }

    @media (min-width: 1200px) {
        
        margin: 50px auto;
        height: 223px;

        h1 {
            padding-top: 50px;
            font-size: 48px;
        }
    }
}

